body
{
  background-color: #111111;
  color: #efefef;
  font-size: 28px;
  font-family: 'VT323', monospace;
}

#container
{
  width:1006px;
  margin-left: auto;
  margin-right: auto;
}

#kat
{
  width:906px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 48px;
  min-height: 60px;
}

#board
{
  width:906px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 48px;
  min-height: 60px;
}

#gallow
{
  float: left;
  width: 450px;
  text-align: center;
  border: 3px solid #666666;
  min-height: 280px;
}

#alphabet
{
  margin-left: 100px;
  float: left;
  width: 450px;
  text-align: center;
  min-height: 280px;
}

.letter
{
  opacity: 0.9;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid #666666;
  float: left;
  cursor: pointer;
  border-radius: 15px;
}

.letter:hover
{
  opacity: 1;
  border: 3px solid #ffffff;
  background-color: #333333;
}

.reset
{
  color: #33f333;
  border: 5px solid #22E222;
  background-color: #00C000;
  cursor: pointer;
  text-align: center;
  font-size: 48px;
  padding: 30px;
  position: relative;
  top: 60px;
}

.reset:hover
{
  color: #00C000;
  border: 5px solid #00C000;
  background-color: #22E222;
}
