body
{
    padding: 0;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-color: #006166;
}
canvas
{
    margin: auto;
    border: 5px solid #fefefe;
}